{% extends 'layout.html.twig' %}

{% block title %}Converter{% endblock %}

{% block body %}
<p>
{% if source_format == 'celsius' %}
{{ '%01.1f'|format(degrees) }}째 Celsius are {{ '%01.1f'|format(result) }}째 Fahrenheit.
{% else %}
{{ '%01.1f'|format(degrees) }}째 Fahrenheit are {{ '%01.1f'|format(result) }}째 Celsius.
{% endif %}
</p>
{% endblock %}